body{
  margin:0px;
  padding: 0px;
  /* background-color:#CEBB9E; */
  color:#F4F8F7;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  box-sizing: content-box;
  background-image: url(assets/img/pexels-lukas-574069.jpg);
  background-size: cover;
  background-attachment:fixed ;
  background-repeat: no-repeat;

}
.cont-header{
  height: 200px;
  width: auto;
  margin-top: 0%;
  /* margin-bottom:2px ; */
}
header{
  background-color:#CEBB9E;
  margin-bottom: 15%;
  margin-top: 0%;
  height: 50px;
  line-height: 50px;
}
header h1{
  /* margin-bottom: 28%;
  margin-top: 5%; */
  text-align: center;
  font-size: 5vmin;
  font-weight:  700;
  line-height: 150% ;
  margin-top: 0%;
  
  /* border: 1px solid blue; */

}
.link{
 color: #F4F8F7;
 text-decoration: none;
 font-weight: 700;
}
.container{
  width: 1350px;
  height: 630px;
  /* border: black 1px solid; */
  /* width: 98.5vmax;
  height: 75vmin; */
}
.card-1{
  position: relative;
  top: -14.3%;
  border: solid 1px #F4F8F7;
  width: 49%;
  height: 40%;
  
  /* background-image: url(assets/img/pexels-kevin-ku-577585.jpg);
  background-size: contain; */
  

}.card-1 span{
  position: relative;
  top: -20%;
  font-size: 2rem;
  font-weight: 500;
}
.img-1{
 position: relative;
 top: 0%;
 width:100%;
 height: 100%;
 filter: blur(5px);
 transition: filter .5s;
}
.img-1:hover{
  filter:blur(0px) ;

}
.card-2{
  position: relative;
  top: -54.6%;
  left: 49.5%;
  border: solid 1px #F4F8F7;
  width: 50%;
  height: 82%;
  
}
.card-2 span{
  position: relative;
  top:-102% ;
  font-size: 2rem;
  font-weight: 500;
}
.img-2{
  width: 100%;
  height: 100%;
  filter: blur(5px);
  transition: filter .5s;
}
.img-2:hover{
  filter: blur(0px);
}
.card-3{
  position: relative;
  top: -95%;
  border: solid 1px #F4F8F7;
  width: 49%;
  height: 40%;
  
}
.card-3 span{
  position: relative;
  top: -18%;
  font-size: 2rem;
  font-weight: 500;
}
.img-3{
  position: relative;
  top: 0%;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  transition: filter .5s;
}
.img-3:hover{
  filter: blur(0px);
}
footer h1{
  background-color: rgba(51, 51, 51, 0.774);
  color: #F4F8F7;
  text-align: center;
  font-size: 2vmin  ;
  font-weight: 300;
}
footer{
  margin: 0%;
  position: relative;
  bottom: 0%;
  height: 1%;
  width: 100%;
}
/* Mobile small  */
@media screen and (min-width: 371px) and (max-height: 647px) and (orientation: portrait) {
  .cont-header{
    width: 371px;
    margin-bottom: 10px;
  }
  header{
    height: 50px;
  }
  header h1{
  text-align: center;
  font-size: 1em;
  font-weight:  700;
  line-height: 50px ;
  margin-top: 0%;
  }
  .container{
    width: 371px;
    height: 647px;
  }
  .card-1{
    position: relative;
    top: -80px;
    left: 125px;
    border: solid 1px #F4F8F7;
    height: 100px;
    width: 120px;
  }
.card-1 span{
  position: relative;
  top: -70px;
  left: 20px;
  font-size: 1em;
  font-weight: 500;
}
  .card-2{
    position: relative;
    top: -40px;
    left: 125px;
    border: solid 1px #F4F8F7;
    height: 100px;
    width: 120px;
  }  
  .card-2 span{
    position: relative;
    top: -70px; 
    left: 20px;
    font-size: 1em;
    font-weight: 500;
  }
  .card-3{
    position: relative;
    top: 0px;
    left: 125px;
    border: solid 1px #F4F8F7;
    height: 100px;
    width: 120px;
  }
  .card-3 span{
    position: relative;
    top: -70px; 
    left: 20px;
    font-size: 1em;
    font-weight: 500;
  }
  footer{
    position: relative;
    bottom: 0px;
    margin: 0%;
    width: 100%;
    height: 150px;
  }
  footer h1{
    height: 60px;
    font-size: 5vmin;
    line-height: 60px; 
  }
}
/* Mobile medium */
@media screen and (min-width: 375px) and (max-height: 667px) and (orientation: portrait) {
  .cont-header{
    width: 375px;
    margin-bottom: 10px;
  }
  header{
    height: 50px;
  }
  header h1{
  text-align: center;
  font-size: 1em;
  font-weight:  700;
  line-height: 50px ;
  margin-top: 0%;
  }
  .container{
    width: 375px;
    /* height: 1280px; */
  }
  .card-1{
    position: relative;
    top: -80px;
    left: 97px;
    border: solid 1px #F4F8F7;
    height: 180px;
    width: 180px;
  }
.card-1 span{
  position: relative;
  top: -110px;
  left: 50px;
  font-size: 1em;
  font-weight: 500;
}
  .card-2{
    position: relative;
    top: -40px;
    left: 97px;
    border: solid 1px #F4F8F7;
    height: 180px;
    width: 180px;
  }  
  .card-2 span{
    position: relative;
    top: -110px; 
    left: 50px;
    font-size: 1em;
    font-weight: 500;
  }
  .card-3{
    position: relative;
    top: 0px;
    left: 97px;
    border: solid 1px #F4F8F7;
    height: 180px;
    width: 180px;
  }
  .card-3 span{
    position: relative;
    top: -110px; 
    left: 50px;
    font-size: 1em;
    font-weight: 500;
  }
  footer{
    position: relative;
    bottom: 0px;
    margin: 0%;
    width: 100%;
    height: 150px;
  }
  footer h1{
    height: 60px;
    font-size:.5em;
    line-height: 60px; 
    position: relative;
    bottom: 0px;
  }
}